set-env.ps1
set-env.sh
.env

airbnb/package-lock.yml
airbnb/target*/
airbnb/target/
airbnb/target-prod/
airbnb/dbt_packages/
airbnb/logs/

airbnb/profiles.yml
airbnb/.user.yml
airbnb/_prod_profiles/.user.yml

.vscode
